body {
  background-color: #292929;
  font-family:'Times New Roman', Times, serif ;
  margin: 0;
  padding: 0;
}

#Past h1{
    font-size: xx-large;
    font-weight: bold;
    color :#fff01c;
}
#Past p{
    font-size :x-large;
    color :#fff01c;

}

#Goals h1{
    font-size: xx-large;
    font-weight: bold;
    color :#fff01c;
}

#Goals p{
    font-size :x-large;
    color :#fff01c;

}
#Skills h1{
    font-size: xx-large;
    font-weight: bold;
    color :#fff01c;
}
#Skills ul {
    font-size :x-large;
    color :#fff01c;
} 

#Photos h1 {
    color :#fff01c;
}

#Videos h1{
    color :#fff01c;
}

nav {
  background-color: #fff01c;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 30px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700 ;
}
nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 50px;
}

footer {
    font-size: large;
    font-weight: 600;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
